body {
    background-color: black;
    color: gray;
}

header, main, nav, footer {
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
}

nav a {
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;
    color: white;
}

nav a:hover {
    border-bottom: 2px orange solid;
    font-size: 2em;
    transition: .9s;
}

footer {
    font-size: 0.5rem;
    color: silver;
}

.logo {
    width: 5rem;
}

/* About page styles*/

table {
    margin: 10px auto;
}

td {
    padding-right: 10px;
    font-size: 1.3em;
}

td strong {
    color: orange;
}

#table-header {
    background-color: #351a00;
}

.table-row {
    background-color: #753900;
}

ul {
    width: 500px;
    margin: 0 auto;
    text-align: left;
}

.hobby {
    color: yellow;
}